# POSTGRES CONFIG (For local development or Render environment variables)
# URL Format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql://postgres:password@db:5432/postgres

# JAVA SERVICE CONFIG (Only needed by the Java application)
DB_USERNAME=postgres
DB_PASSWORD=password

# PYTHON SERVICE CONFIG
JAVA_SERVICE_URL=http://java-service:8080

# FRONTEND CONFIG
VITE_API_URL=http://localhost:8000
